.downlist {
  position: relative;
  display: inline-block;
  left: 95px;
}

.downlist-content {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  width: 100px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
}

.downlist:hover .downlist-content {
  display: block;
}

.downlist-content a:hover {
  color: #000000;
  background-color: #00A4BD;
}